<style type="text/css">
.clouda-footer{
	width: 100%;
	min-width: 1200px;
	height:100px;
	background-color: #363842;

}

.clouda-footer-wrapper{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top:30px;
}

.clouda-footer-wrapper span{
	font-size: 12px;
	color: #555761;
	display: block;
	padding-bottom: 15px;
}

.clouda-footer-wrapper span a{
	font-size: 12px;
	color: #555761;
}

</style>

<div class="clouda-footer">
	<div class="clouda-footer-wrapper">
		<span>
			<a >Clouda-Team</a>
			<!-- <a href="mailto:clouda@baidu.com">clouda@baidu.com</a> -->
			<a>&nbsp;&nbsp;Hi群:1455149&nbsp;&nbsp;</a>
			<a href="https://github.com/Clouda-team/CloudaOfficalSite/issues/new" target="_blank">问题反馈</a>
		</span>
		<span>© 2014 Baidu | 京ICP证030173号</span>
	</div>
</div>
<script type="text/javascript">

	  
		 
    
</script>
