#logo {
	float: left;
}

#logo img{
	height: 32px;
	vertical-align: middle;
}

#logo a span {
	line-height: 28px;
	font-size: 16px;
	font-weight: 400;
	margin-left: 5px;
}

#nav {
	float: right;
}

#nav li {
	float: left;
}

#nav a {
	color: #424b50;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 10px;
	font-size: 12px;
	font-weight: 500;
	transition: all 0.1s linear;
	line-height: 20px;
	display: block;
	margin-left: 6px;
}

#nav a:hover, #nav a:focus, #nav a.active {
	color: #fff;
	background: #E74C3C;
}

#menu {
	width: 200px;
    float: left;
    margin-top: 20px;
}

#menu li {
	margin-bottom: 1em;
}

#menu li div{
	display: none;
}

#menu li.active div {
	display: block;
}

#menu h3{
	margin: 0;
	border-bottom: 1px solid #E74C3C;
}

#menu h3 a {
	padding: 6px 12px;
	line-height: 24px;
	font-size: 14px;
	display: block;
	transition: all 0.15s linear;
}

#menu h3 a:hover, #menu h3 a.active, #menu .active h3 a{
	color: #fff;
	background-color: #E74C3C;
}

#menu li div {
	margin: 3px 0;
}

#menu li div a{
	display: block;
	padding: 6px 16px;
	font-size: 13px;
	line-height: 20px;
	background: #fff;
	border-left: 2px solid #fff;
	transition: all 0.15s linear;
}

#menu .fa {
	float: right;
	margin-top: 3px;
	font-size: 1.2em;
}

#menu li div a:hover, #menu li div a.active{
	border-left: 2px solid #E74C3C;
}

#menu li div a:hover .fa, #menu li div a.active .fa{
	color: #E74C3C;
}

#docs {
	margin-top: 20px;
	margin-left: 230px;
	border: 1px solid #eee;
	background-color: #fff;
}