html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Helvetica Neue", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 14px;
    margin: 0; 
    padding: 0;
}

a {
    text-decoration: none;
    color: #424b50;
}

a:focus,a:active, a:hover{
    outline: 0;
}

ul, ol, dl{
    margin: 0;
    padding: 0;
    list-style: none;
}