<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BlendUI文档|clouda移动web开发框架</title>
    <link rel="stylesheet" href="/assets/blend2/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/blend2/css/markdown/doc.css" />
    <link rel="stylesheet" type="text/css" href="/assets/blend2/css/markdown/markdown.css" />
    <link rel="stylesheet" type="text/css" href="/assets/blend2/dist/boost.min.css" />
    <script type="text/javascript" src="/assets/blend2/dist/boost.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="http://fedev.baidu.com/~dingquan/boostui/dist/boost.min.css" /> -->

    <!-- // <script type="text/javascript" src="http://fedev.baidu.com/~dingquan/boostui/dist/boost.js"></script> -->

    <script type="text/javascript">
    window.boost = $.noConflict(true);
    </script>

    <style>
        * {
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
        }
        body{
            font-family: Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Tohoma, Arial;
            -webkit-font-smoothing: antialiased;
        }  
    </style>
</head>

<body class="whole">

{% include "./header.html" %}

<div class="compons">
    {% include "./docNav.html" %}
    <div class="compons_rig fr">
        <div class="com_r_top">
            <h1>BoostUI手册</h1>
            <h2>BoostUI组件</h2>
        </div>
        <div id="docs" class="markdown">
            {{cnt}}
        </div>
    </div>
    <div class="back">
        <i class=""></i>
    </div>

</div>
<div class="footer">
  <div class="footer_as">Clouda-Team QQ群:53732724  <a href="https://github.com/Clouda-team/CloudaOfficalSite/issues/new">问题反馈</a> </div>
  <p>© 2015 Baidu</p>
</div>
<!-- <script type="text/javascript" src="/assets/blend2/dist/boost.min.js"></script> -->
<script type="text/javascript">
// window.boost = $.noConflict(true);
</script>
<script src="/assets/blend2/js/lib/jquery.js"></script>
<script src="/assets/blend2/js/lib/prettify.min.js"></script>
<script src="/assets/blend2/js/api.js"></script>
<script src="/assets/blend2/js/ment.js"></script>
</body>

</html>

