<div class="download-wrap relative">
    <div class="widget-box" data-blend-widget="checkbox" data-blend-checkbox='{"type":"group"}'>
	    <div class="w-top">
	        <div class="fl" id="div_css">
	            <span class="triangle"></span>
				CSS组件
		 </div>
		 <div class="fr">
		     <span class="checkbox-big blend-checkbox blend-checkbox-square blend-checkbox-all"></span>
		     <p class="blend-checkbox-label"><span>选择全部</span></p>
	        </div>
	    </div>
	    <ul class="w-bottom">
	        <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="button"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>按钮 <span>button</span></h3>
			 <p>按钮组件，提供了各种大小以及颜色的按钮。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="badge"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>徽标 <span>badge</span></h3>
			 <p>徽标组件，提供了不同层级的徽标</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="flexbox"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>盒子容器 <span>flexbox</span></h3>
			 <p>盒子容器组件，试试把子元素放进容器里。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="grid"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>栅格布局 <span>grid</span></h3>
			 <p>栅格布局组件，将内容分别放在不同格子“房间”里。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="header"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>顶部导航 <span>header</span></h3>
			 <p>顶部导航组件，直接拿去用的导航。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="nav"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>列表导航 <span>nav</span></h3>
			 <p>列表导航组件，是可以有很多链接选项的导航。</p>
		     </div>
		  </li>

		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="panel"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>展示板 <span>panel</span></h3>
			 <p>展示板组件，干干净净的展示区块，可以控制文字行数、对齐方式等。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="tabnav"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>标签导航 <span>tabnav</span></h3>
			 <p>标签导航组件，让导航选项看起来更分明。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="link"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>链接 <span>link</span></h3>
			 <p>链接组件，可以方便摆放在左边、中间、右边。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="separator"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>分割线 <span>separator</span></h3>
			 <p>分割线组件，样式不同的分割线。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="checkbox"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>选择框 <span>checkbox</span></h3>
			 <p>选择框组件，按钮式、点选式、红色的、蓝色的、方形、圆形……各种选择框，应有尽有。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="picture"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>图片 <span>picture</span></h3>
			 <p>图片组件，可以选择图片边角样式及标题样式。</p>
		     </div>
		  </li>

		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="switch"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>单选滑块 <span>switch</span></h3>
			 <p>单选滑块组件，提供了方形、圆形的滑块。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="sidenav"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>侧栏导航 <span>sidenav</span></h3>
			 <p>侧栏导航组件，很通用的侧栏切换导航。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="star"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>星标 <span>star</span></h3>
			 <p>星标组件，点亮星星的组件。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="topnav"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>分级导航 <span>topnav</span></h3>
			 <p>分级导航组件，导航有层级？用这个。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="fullcolumn"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>卡片通栏 <span>fullcolumn</span></h3>
			 <p>卡片通栏组件，内容可以是卡片式或通栏式。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="title"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>标题 <span>title</span></h3>
			 <p>标题组件，提供了不同样式的标题前缀。</p>
		     </div>
		  </li>
            </ul>
           
        </div>

	 <div class="widget-box mar-t-20" data-blend-widget="checkbox" data-blend-checkbox='{"type":"group"}'>
	    <div class="w-top">
	        <div class="fl" id="div_js">
	            <span class="triangle"></span>
				JS组件
		 </div>
		 <div class="fr">
		     <span class="checkbox-big blend-checkbox blend-checkbox-square blend-checkbox-all"></span>
		     <p class="blend-checkbox-label"><span>选择全部</span></p>
	        </div>
	    </div>
            
	    <ul class="w-bottom" style="height: 800px;">
	        <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="counter"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>数量选择器 <span>counter</span></h3>
			 <p>数量选择器组件，点击可加减的数量选择器，单次加减的值也可控哦~</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="dialog"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>弹窗 <span>dialog</span></h3>
			 <p>弹窗组件，可以选择DOM渲染、JS渲染、自定义弹窗。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="formgroup"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>表单组 <span>formgroup</span></h3>
			 <p>表单组组件，提供了各种表单元素。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="gallery"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>图集 <span>gallery</span></h3>
			 <p>图集组件，划动切换的图片组件。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="list"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>列表 <span>list</span></h3>
			 <p>列表组件，可以方便的添加、删除列表项目。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="listview"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>卡片列表 <span>listview</span></h3>
			 <p>卡片列表组件，多种样式的图文列表。</p>
		     </div>
		  </li>

		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="loading"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>加载进度 <span>loading</span></h3>
			 <p>加载进度组件，loading样式组件。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="slider"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>幻灯片 <span>slider</span></h3>
			 <p>幻灯片组件，图片幻灯片，你懂的。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="tab"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>标签 <span>tab</span></h3>
			 <p>标签组件，可以控制切换的标签组件。</p>
		     </div>
		  </li>
		  <li>
		    <span class="checkbox blend-checkbox blend-checkbox-square" data-value="toast"></span>
		    <div class="fl blend-checkbox-label">
		        <h3>浮动提示 <span>toast</span></h3>
			 <p>浮动提示组件，提示弹出框，可以自定义。</p>
		     </div>
		  </li>
	     </ul>
	 </div>

	 <div class="lightback"></div>
</div>

<div class="down-link">
    <a href="javascript:;" target="_self">
        <span>下载</span>
	 <span>Download</span>
    </a>
</div>

<script type="text/javascript">
$(function(){
    var urlBase = "http://boostui.duapp.com/makeWidget";
    $wTop = $('.w-top .fl');
    $wBottom = $('.w-bottom');

    $wTop.click(function (ev){
    	 var height = this.id === "div_css" ? "1440px" : "800px";
    	 if($(this).hasClass("w-hide")){
            $(this).removeClass("w-hide");
            $(this).parent().removeClass("w-hide").siblings(".w-bottom").animate({"height": height});        
    	 }else{
    	     $(this).addClass("w-hide");
            $(this).parent().addClass("w-hide").siblings(".w-bottom").animate({"height":"0px"});        	
    	 }

    	 ev.preventDefault();
    	 return false;
    });

    //下载
    $(".down-link").click(function (){
        var $checkbox = $("li .blend-checkbox-checked"), widgets = [];
            
        if($checkbox.length > 0){
                $checkbox.each(function (){
                    widgets.push($(this).attr("data-value"));
                });
                var url = urlBase + "?widget=" + widgets.join(",");
        }else{
                var url = urlBase;
        }
            
        window.location = url;

        
        $(".lightback").show().css("opacity", 0.8);
        $(".lightico").show().css({"bottom": (document.documentElement.clientHeight - 218 + 275)/2 + "px", "opacity": 1});
        setTimeout(function (){
            $(".lightback").animate({"opacity": 0});
            $(".lightico").animate({"opacity": 0}, function (){
                $(".lightback").hide();
                $(".lightico").hide();
            });
        }, 5000);
        return false;
    })
});
</script>