<div class="header">
  <div class="header_auto"> <a href="/blend2" class="fl"><img src="/assets/blend2/images/logo_small.png" class="clouda_logo"/></a>
    <div class="head_rigs fr">
      <ul id='example-one'>
        <li class="{%if page == 'index'%}current_page_item{%endif%}"><a href="/blend2" class="{%if page == 'index'%}active{%endif%}">首页</a></li>
        <li class="{%if page == 'start'%}current_page_item{%endif%}"><a href="/blend2/start/" class="{%if page == 'start'%}active{%endif%}">开始使用</a></li>
        <li class="{%if page == 'docs'%}current_page_item{%endif%}"><a href="/blend2/docs/" class="{%if page == 'docs'%}active{%endif%}">文档</a></li>
        <li class="{%if page == 'download'%}current_page_item{%endif%}"><a href="/blend2/download/" class="{%if page == 'download'%}active{%endif%}">自定义下载</a></li>
        <li id="hds"></li>
      </ul>
    </div>
  </div>
</div>