<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>BlendUI - clouda移动web开发框架</title>
<link rel="stylesheet" href="/assets/blend2/css/style.css"/>
</head>
<body>

{% include "./header.html" %}
<div class="bodyer">
<div class="clouda_bann">
  <div class="banner" >
      <div><img src="/assets/blend2/images/clouda_big.png" class="clouda_key"/></div>
      <div class="banner-info">
	      <p>MIT Licensed, v2.0 alpha <small>(2015-04-17)</small></p>
          <div class="banner-topic">
              <h3>移动web开发框架</h3>
              <h3>通过集成原生组件令App体验一流，并为O2O场景特别优化</h3>
          </div>
          <div class="downloads"><a href="/blend2/start" class="fl"><span>开始使用</span></a><a href="/blend2/start" class="fr"><span>下载</span></a></div>
      </div>
  </div>
  <div class="banner_b">
          <img src="/assets/blend2/images/banner_b.jpg">
  </div>
</div>
<div class="clouda_auto">
  <div class="clouda-desc">
    <h2>丰富的组件</h2>
    <div class="blue-line"></div>
    <p>BlendUI不仅仅提供了基本组件按钮、标签、文本、图标、图片等，还提供了对话框、图集浏览、幻灯片、地图、日历、订单等富应用组件，从元素生成、页面布局再到交互呈现每一步都简单易用；商家可以按需组合，像拼积木一样开发移动应用。</p>
  </div>
</div>
<div class="bodyer bk_img">
      <div class="clouda_auto relative">
            <div class="demo-iphone fr">
                  <!-- <iframe style="width:100%; height:100%" border="0" src="http://fedev.baidu.com:8586/samplelist.html"></iframe> -->
                  <div style="width:100%; height:458px; overflow:hidden;">
                        <iframe style="width:100%; height:100%" border="0" src="/assets/blend2/samplelist.html"></iframe>
                  </div>
            </div>
            <div class="clouda_desc">
                    <img src="/assets/blend2/images/clouda_desc.png">
            </div>
      </div>
</div>
</div>
<div class="clouda_auto">
  <div class="clouda_auto_rig fl">
          <img src="/assets/blend2/images/zdh.png">
  </div>
  <div class="clouda-desc clouda_widths right">
    <h2>集成原生组件</h2>
    <div class="blue-line"></div>
    <p class="clouda_wids">用户无需任何配置，BlendUI框架就可以调起原生组件, Web和Native完美融合，让App体验更加流畅。
</p>
  </div>

</div>
<div class="history">
  <div class="history_auto">
  <div class="whole_tab fl">
    <div class="tabs disp_none"><img src="/assets/blend2/images/02.jpg"  class="fl"/>
      <div class="fl history_nes">
        <h2>自定义样式</h2>
  <p>用户可自定义皮肤样式，按需适配不同应用场景。</p>
      </div>
    </div>

    <div class="tabs"><img src="/assets/blend2/images/01.jpg"  class="fl"/>
      <div class="fl history_nes">
        <h2>简单易用</h2>
	<p>使用BlendUI创建移动应用，你只需要懂HTML基本布局，引人所需样式、脚本和对应组件，剩余一切都自动完成。</p>
      </div>
    </div>



    <div class="tabs disp_none"><div class="fl tabs"><img src="/assets/blend2/images/03.jpg"  class="fl"/>
      <div class="fl history_nes">
        <h2>页面切换</h2>
      	<p>通过调用原生接口，页面跳转像原生应用一样顺滑切换，且这一切的发生对用户是透明的，不需要额外配置。</p>
	</div>
    </div></div>
    <div class="tabs disp_none"><div class="fl tabs"><img src="/assets/blend2/images/04.jpg"  class="fl"/>
      <div class="fl history_nes">
        <h2>图片预览</h2>
   	<p>运用BlendUI框架，查看图片可以像浏览手机相册一样变的如此享受，让商家商品默默吸引用户。</p>
   </div>
    </div></div>
    <div class="tabs disp_none"><div class="fl tabs"><img src="/assets/blend2/images/05.jpg"  class="fl"/>
      <div class="fl history_nes">
        <h2>移动O2O</h2>
	<p>BlendUI框架针对移动设计开发，为O2O应用服务，提供从购买到订单完成全部服务，让交易更容易。</p>
</div>
    </div></div>

    <!-- <div class="tabs disp_none"><div class="fl tabs"><img src="/assets/blend2/images/clouda_43.png"  class="fl"/>
      <div class="fl history_nes">
        <h2>动画特效</h2>
	<p>丰富的动画效果，高性能展示，让你的应用更出色；</p>
</div>
    </div></div> -->
    </div>
    <div class="fr slide_rig">
      <ul class="appst">
        <li class="slide_active"><a href="javascript:">自定义样式<span></span></a></li>
        <li><a href="javascript:">简单易用<span></span></a></li>
        <li><a href="javascript:">页面切换<span></span></a></li>
        <li><a href="javascript:">图片预览<span></span></a></li>
        <li><a href="javascript:">移动O2O<span></span></a></li>
      </ul>
      <div class="posis"></div>
    </div>
    </div>
  </div>
  <div class="show_app">
    <p>BlendUI已经被大量应用</p>
    <ul>
      <li><img src="/assets/blend2/images/guilin.jpg"/><span>桂林旅游</span></li>
      <li><img src="/assets/blend2/images/jiashi.jpg"/><span>嘉事堂药店</span></li>
      <li><img src="/assets/blend2/images/jinxiang.jpg"/><span>金象大药房</span></li>
      <li><img src="/assets/blend2/images/laobai.jpg"/><span>老百姓大药房</span></li>
      <li><img src="/assets/blend2/images/weilu.jpg"/><span>微卤</span></li>
      <li class="list_child"><img src="/assets/blend2/images/yunjia.jpg"/><span>云家政</span></li>
    </ul>
  </div>

</div>
<div class="footer">
  <div class="footer_as">Clouda-Team QQ群：53732724  <a href="https://github.com/Clouda-team/CloudaOfficalSite/issues/new">问题反馈</a> </div>
  <p>© 2015 Baidu</p>
</div>
</body>
<script src="/assets/blend2/js/lib/jquery-1.7.2.js"></script>
<script src="/assets/blend2/js/ment.js"></script>
<script src="/assets/blend2/js/lib/jquery.mousewheel.min.js"></script>
<script src="/assets/blend2/js/fullpagecode.min.js"></script>
</html>
