<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BlendUI文档|clouda移动web开发框架</title>
    <link rel="stylesheet" href="/assets/blend2/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/blend2/css/markdown/doc.css" />
    <link rel="stylesheet" type="text/css" href="/assets/blend2/css/markdown/markdown.css" />
    <link rel="stylesheet" type="text/css" href="/assets/blend2/dist/boost.min.css" />
    <style>
        * {
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
        }
        body{
            font-family: Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Tohoma, Arial;
            -webkit-font-smoothing: antialiased;
        }
    </style>
</head>

<body class="whole">
{% include "./header.html" %}
<div class="compons">
    {% include "./startNav.html" %}
    <div class="compons_rig fr">
        <div id="docs" class="markdown">
            {{cnt}}
        </div>
    </div>
    <div class="back">
        <i class=""></i>
    </div>
</div>
<div class="footer">
    <div class="footer_as"> <a href="javascript:">服务协议</a><span>|</span> <a href="javascript:">侵权投诉</a><span>|</span> <a href="javascript:">百度移动</a><span>|</span> <a href="javascript:">百度云</a><span>|</span> <a href="javascript:">百度应用中心</a><span>|</span> <a href="javascript:">dev_support@baidu.com</a><span>|</span> <a href="javascript:">问题反馈</a> </div>
    <p>© 2014 Baidu 使用百度前必读  |  京ICP证030173号</p>
</div>
<script src="/assets/blend2/js/lib/jquery.js"></script>
<script src="/assets/blend2/js/lib/prettify.min.js"></script>
<script src="/assets/blend2/js/apiIntro.js"></script>
<script src="/assets/blend2/js/ment.js"></script>
</body>

</html>

