body{
	background-color: #f5f5f5;
}

#docs {
	margin-top: 20px;
	margin-left: 230px;
	border: 1px solid #eee;
	background-color: #fff;
}

#menu {
	width: 200px;
    float: left;
    margin-top: 20px;
    color: #f4645f;
}

#menu h3 {
	margin: 0.3em 0 0;
}

#menu a {
	color: #f4645f;
	transition: 250ms linear all;
}

#menu a:hover {
	color: #424b50;
}

#menu dl {
	padding: 0.5em 0 1em;
}