body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 640px){
  .onepage-pagination {
    display: none;
  }
} 

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 40%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
}
.onepage-pagination li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

.onepage-pagination li a .dot {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    width: 4px;
    height: 4px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.onepage-pagination li a.active .dot {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    background: transparent;
}

.onepage-pagination li a .hover-text{
    position: absolute;
    top: 0px;
    right: 12px;
    padding-right: 12px;
    width: 50px;
    font-size: 1em;
    color: #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    text-transform: capitalize;
}

.onepage-pagination li a:hover .hover-text{
    opacity : 1;
}

/*
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(255,255,255,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid #fff;
  margin-top: -4px;
  left: 8px;
}*/

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}