#portal {
	text-align: center;
	margin-top: 20px;
}

#portal a{
	transition: all 0.1s linear;
}

#portal a:hover{
	opacity: 0.6;
}

#portal article {
	text-align: left;
}

#modules {
	overflow: hidden;
	margin: 2% 0;
}

#modules li{
	float: left;
	width: 25%;
	text-align: center;
}