{% macro use(active) %}
<header class="hd">
    <div class="vp">
        <div id="logo">
        	<a href="/">
        		<img src="/assets/images/clouda+logo.png" alt=""><span>Clouda+</span>
        	</a>
        </div>
        <ul id="nav">
            <li>
            	<a href="/">home</a>
            </li>
            <li class="api">
            	<a {% if active === "api" %}class="active"{% endif %} href="/portal/">docs   <i class="fa fa-caret-down"></i></a>
                <ul id="navlist">
                    <li><a href="/rapid/introduction/rapid_introduction/">RapidJS</a></li>
                    <li><a href="/blend/introduction/introduction">Blend</a></li>
                    <li><a href="/runtime/introduction/introduce">Runtime</a></li>
                </ul>
            </li>
            <li>
            	<a href="https://github.com/Clouda-team">github</a>
            </li>
        </ul>
    </div>
</header>
{% endmacro %}