<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="简单可依赖的Javascript开发框架" />
		<title>Clouda+</title>
		<link rel="stylesheet" href="/assets/css/base.css">
		<link rel="stylesheet" href="/assets/css/stylus.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/index.css">
	</head>
	<body>
		<div id="intro">
			<div id="introbox">
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/rapid/introduction/rapid_introduction/">Docs</a></li>
						<li><a href="https://github.com/Clouda-team">Github</a></li>
					</ul>
				</nav>
				<img src="/assets/images/clouda+.png" width="200" alt="">
				<h1>Clouda+</h1>
				<p>Projs + BlendUI + BlendAPI = Clouda+</p>
				<p>移动web应用开发整体解决方案，特别为轻应用设计。<br>让你的webapp体验和交互媲美Native应用！</p>
				<ul class="info">
					<li><a href="https://github.com/Clouda-team/rapid-core">RapidJS 1.0</a></li>
					<li><a href="https://github.com/Clouda-team/BlendUI">BlendUI 1.0</a></li>
				</ul>
				<ul class="info">
					<li><i class="fa fa-star"></i><a href="https://github.com/Clouda-team">75 stars</a></li>
					<li><i class="fa fa-code-fork"></i><a href="https://github.com/Clouda-team">18 forks</a></li>
					<li><i class="fa fa-github"></i><a href="https://github.com/Clouda-team">Clouda-team</a></li>
				</ul>
			</div>
		</div>
		<div id="blendui" class="showcase">
			<h1>BlendUI</h1>
			<p>基于本地Native运行环境，让Javascript拥有操作Webview和Native控件的能力<br>让你的web移动端交互流畅，体验无异于Native app</p>
			<a href="blendui" class="startBtn">BlendUI Docs</a>
			<ul class="panel">
				<li>
					<i class="fa fa-tachometer"></i>
					<h3>高性能</h3>
					<p>原生动画支持，缩减DOM层级<br>让web应用不再卡顿</p>
				</li>
				<li>
					<i class="fa fa-cogs"></i>
					<h3>灵活性</h3>
					<p>基于web构建<br>带来无限的可定制性</p>
				</li>
				<li>
					<i class="fa fa-codepen"></i>
					<h3>Webview能力</h3>
					<p>就像操作DOM一样操作Webview</p>
				</li>
				<li>
					<i class="fa fa-code"></i>
					<h3>Native能力</h3>
					<p>Web能控制Native<br>也能与之通讯</p>
				</li>
			</ul>
		</div>
		<div id="rapid" class="showcase">
			<h1>RapidJS</h1>
			<p>基于Nodejs的服务端开发框架，为移动而生，<br>让移动web开发简单、灵活、扩展能力强。</p>
			<a href="/rapid/introduction/rapid_introduction/" class="startBtn">Rapid Docs</a>
			<ul class="panel">
				<li>
					<i class="fa fa-paper-plane"></i>
					<h3>简单可依赖</h3>
					<p>基于简单而经典的思想构建<br>让开发者不再彷徨</p>
				</li>
				<li>
					<i class="fa fa-cube"></i>
					<h3>深度可定制</h3>
					<p>框架高度模块化<br>按需定制，随心选择</p>
				</li>
				<li>
					<i class="fa fa-puzzle-piece"></i>
					<h3>灵活可扩展</h3>
					<p>无论是小型应用，还是大型服务<br>都能从容应对</p>
				</li>
				<li>
					<i class="fa fa-tablet"></i>
					<h3>为移动而生</h3>
					<p>为智能手机与平板电脑特别设计<br>让移动应用体验更佳</p>
				</li>
			</ul>
		</div>
		<section class="ft">
			<div class="vp">
				&copy; 2014 Baidu
			</div>
		</section>
		<script src="/assets/js/move.min.js"></script>
		<script src="/assets/js/index.js"></script>
	</body>
</html>
