<!DOCTYPE html>
<html>
	<head>
		{% include "./meta.html" %}
		<title>Clouda+</title>
		<link rel="stylesheet" href="/assets/css/site.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/index.css">
		<link rel="stylesheet" href="/assets/css/onepagescroll.css">
	</head>
	<body>
		<nav id="navi">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/portal/">文档</a></li>
				<li><a href="https://github.com/Clouda-team">Github</a></li>
			</ul>
		</nav>
		<div id="main">
			<div id="intro" name="Clouda+" class="scrollpage">
				<div id="introbox">
					<div id="clouda">
						<img src="/assets/images/clouda+.png" alt="">
						<h1>Clouda+</h1>
						<div id="introtxt">
							<!--p>Rapidjs + Tankjs + BlendUI + BlendAPI + Runtime = Clouda+</p-->
							<p>移动web应用开发整体解决方案，特别为轻应用设计<br>让你的webapp体验和交互媲美Native应用！</p>
							<ul class="info">
								<li><i class="fa fa-star"></i><a href="https://github.com/Clouda-team">{{stars}} stars</a></li>
								<li><i class="fa fa-code-fork"></i><a href="https://github.com/Clouda-team">{{forks}} forks</a></li>
								<li><i class="fa fa-github"></i><a href="https://github.com/Clouda-team">Clouda-team</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="blendUI" name="BlendUI" class="scrollpage showcase">
				<div class="sermon">
					<h1>BlendUI</h1>
					<p>基于本地Native运行环境，让Javascript拥有操作Webview和Native控件的能力<br>让你的web移动端交互流畅，体验无异于Native app</p>
					<a href="/blend/introduction/introduction/" class="startBtn">BlendUI Docs</a>
					<a href="https://github.com/Clouda-team/BlendUI" class="startBtn">Source code</a>
					<ul class="panel">
						<li>
							<i class="fa fa-tachometer"></i>
							<h3>高性能</h3>
							<p>原生动画支持，缩减DOM层级<br>让web应用不再卡顿</p>
						</li>
						<li>
							<i class="fa fa-cogs"></i>
							<h3>灵活性</h3>
							<p>基于web构建<br>带来无限的可定制性</p>
						</li>
						<li>
							<i class="fa fa-codepen"></i>
							<h3>Webview能力</h3>
							<p>就像操作DOM一样操作Webview</p>
						</li>
						<li>
							<i class="fa fa-code"></i>
							<h3>Native能力</h3>
							<p>Web能控制Native<br>也能与之通讯</p>
						</li>
					</ul>
				</div>
			</div>
			<div id="rapidjs" name="RapidJS" class="showcase scrollpage">
				<div class="sermon">
					<h1>RapidJS</h1>
					<p>基于Nodejs的服务端开发框架，为移动而生，<br>让移动web开发简单、灵活、扩展能力强。</p>
					<a href="/rapid/introduction/rapid_introduction/" class="startBtn">Rapid Docs</a>
					<a href="https://github.com/Clouda-team/rapid-core" class="startBtn">Source code</a>
					<ul class="panel">
						<li>
							<i class="fa fa-paper-plane"></i>
							<h3>简单可依赖</h3>
							<p>基于简单而经典的思想构建<br>让开发者不再彷徨</p>
						</li>
						<li>
							<i class="fa fa-cube"></i>
							<h3>深度可定制</h3>
							<p>框架高度模块化<br>按需定制，随心选择</p>
						</li>
						<li>
							<i class="fa fa-puzzle-piece"></i>
							<h3>灵活可扩展</h3>
							<p>无论是小型应用，还是大型服务<br>都能从容应对</p>
						</li>
						<li>
							<i class="fa fa-tablet"></i>
							<h3>为移动而生</h3>
							<p>为智能手机与平板电脑特别设计<br>让移动应用体验更佳</p>
						</li>
					</ul>
				</div>
			</div>
			<div id="blendAPI" name="BlendAPI" class="showcase scrollpage">
				<div class="sermon">
					<h1>BlendAPI</h1>
	                <p>让webapp拥有移动设备的原生能力和百度云服务能力</p>
					<a href="/blendapi/introduction/introduce" class="startBtn">BlendAPI Docs</a>
					<ul class="panel">
						<li>
							<i class="fa fa-laptop"></i>
							<h3>Web API</h3>
						</li>
						<li>
							<i class="fa fa-list"></i>
							<h3>172组API</h3>
						</li>
						<li>
							<i class="fa fa-cloud"></i>
							<h3>四大百度云服务</h3>
						</li>
						<li>
							<i class="fa fa-users"></i>
							<h3>五亿用户预装</h3>
						</li>
					</ul>
				</div>
			</div>
			<div id="runtime" name="Runtime" class="showcase scrollpage">
				<div class="sermon">
					<h1>Runtime</h1>
                	<p>Runtime在移动终端上为轻应用提供安全、稳定、高效的运行环境<br />并且提供了一套灵活的插件机制，让轻应用具有和本地应用一样的能力</p>
					<a href="/runtime/introduction/introduce" class="startBtn">Runtime Docs</a>
					<ul class="panel">
						<li>
							<i class="fa fa-th-large"></i>
							<h3>集成方便</h3>
							<p>提供3种集成方案<br>宿主可按需自主选择，集成过程简单</p>
						</li>
						<li>
							<i class="fa fa-superscript"></i>
							<h3>能力强大</h3>
							<p>提供了强大的本地、云端插件能力<br>插件独立开发、测试、发布</p>
						</li>
						<li>
							<i class="fa fa-joomla"></i>
							<h3>插件共享</h3>
							<p>多宿主共享插件能力<br>有效避免插件重复下载浪费流量</p>
						</li>
						<li>
							<i class="fa fa-archive"></i>
							<h3>Hybrid打包</h3>
							<p>让轻应用拥有与Native应用一样<br>拥有相同的发布渠道、安装、体验</p>
						</li>
					</ul>
				</div>
			</div>
			<div id="tankjs" name="TankJS" class="showcase scrollpage">
				<div class="sermon">
					<h1>TankJS</h1>
	                <p>Nodejs执行容器框架，能面向应用开发、运行环节<br />随心控制你的Nodejs程序</p>
					<a href="/" class="startBtn">TankJS Docs</a>
					<a href="https://github.com/Clouda-team/tankjs" class="startBtn">Source code</a>
					<ul class="panel">
						<li>
							<i class="fa fa-road"></i>
							<h3>高并发</h3>
							<p>免重启可视化流量、分发调整<br>提高缓存命中率</p>
						</li>
						<li>
							<i class="fa fa-puzzle-piece"></i>
							<h3>可扩展</h3>
							<p>完整的扩展机制<br>深层定制，提供无限可能</p>
						</li>
						<li>
							<i class="fa fa-shield"></i>
							<h3>高稳定性</h3>
							<p>服务双重守护<br>再也不用担心服务down掉了</p>
						</li>
						<li>
							<i class="fa fa-smile-o"></i>
							<h3>易上手</h3>
							<p>兼容所有Nodejs开发框架<br>命令行，GUI皆可操作</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <section class="ft">
			<div class="vp">
				&copy; 2014 Baidu
			</div>
		</section> -->
		<script src="/assets/js/move.min.js"></script>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.onepage-scroll.min.js"></script>
		<script src="/assets/js/index.js"></script>
		<script src="/assets/js/statistics.js"></script>
	</body>
</html>
