{# Dynamically Generate #}
{% macro use(proj, mod, doc) %}
    {# Rapid #}
    <h3>Rapid</h3>
    <dl>
        <dt><a href="">序言</a></dt>
        <dd><a href="/rapid/introduction/rapid_introduction/">简介</a></dd>
        <dd><a href="/rapid/introduction/get_started">快速入门</a></dd>
    </dl>
    <dl>
        <dt><a href="">开始学习</a></dt>
        <dd><a href="/rapid/get_started/config">配置</a></dd>
        <dd><a href="/rapid/get_started/router">路由</a></dd>
        <dd><a href="/rapid/get_started/request_response">Request流程</a></dd>
        <dd><a href="/rapid/get_started/view">View</a></dd>
        <dd><a href="/rapid/get_started/action">Action</a></dd>
        
    </dl>
    <dl>
        <dt><a href="">深度历险</a></dt>
        <dd><a href="/rapid/get_started/filter">创建Filter</a></dd>
        <dd><a href="/rapid/get_started/extension">创建Extension</a></dd>
        <dd><a href="/rapid/deep_learn/form">表单处理</a></dd>

    </dl>

    <dl>
        <dt><a href="">API手册</a></dt>
        <dd><a href="/rapid/core/api_document">Core</a></dd>
        <dd><a href="/rapid/httpserver/api_document">Httpserver</a></dd>
    </dl>

    {# BlendUI #}
    <h3>BlendUI</h3>

    <dl>
        <dt><a href="">序言</a></dt>
        <dd><a href="/blendui/introduction/introduction">简介</a></dd>
        <dd><a href="/blendui/introduction/get_started">快速入门</a></dd>
    </dl>

    <dl>
        <dt><a href="">开始学习</a></dt>     
        <dd><a href="/blendui/get_started/define_event">自定义事件</a></dd>
        <dd><a href="/blendui/get_started/tabs">Tabs</a></dd>
        <dd><a href="/blendui/get_started/refresh">下拉刷新</a></dd>
        <dd><a href="/blendui/get_started/powerpoint">幻灯片</a></dd>
        <dd><a href="/blendui/get_started/loading_page">Loading</a></dd>
        <dd><a href="/blendui/get_started/page_change">页面间切换</a></dd>
        <dd><a href="/blendui/get_started/test">应用调试</a></dd>
        <dd><a href="/blendui/get_started/publish">应用发布</a></dd>
    </dl>
    
    <dl>
        <dt><a href="">API手册</a></dt>
        <dd><a href="/blendui/layer/api_document">Layer</a></dd>
        <dd><a href="/blendui/layergroup/api_document">LayerGroup</a></dd>
        <dd><a href="/blendui/slider/api_document">Slider</a></dd>
    </dl>

    {# Blend API #}
    <h3>Blend API</h3>


{% endmacro %}