{# Dynamically Generate #}
{% macro use(proj, mod, doc) %}
{% if (proj === "rapid" || proj === "404") %}
    {# Rapid #}
    <h3><a href="/rapid/introduction/rapid_introduction/">RapidJS</a></h3>
    <dl {% if proj === "rapid"%}class="active"{% endif %}>
        <dt><a href="">序言</a></dt>
        <dd><a href="/rapid/introduction/rapid_introduction/">简介</a></dd>
        <dd><a href="/rapid/introduction/get_started">快速入门</a></dd>
    </dl>
    <dl {% if proj === "rapid"%}class="active"{% endif %}>
        <dt><a href="">开始学习</a></dt>
        <dd><a href="/rapid/get_started/config">配置</a></dd>
        <dd><a href="/rapid/get_started/router">路由</a></dd>
        <dd><a href="/rapid/get_started/request_response">Request流程</a></dd>
        <dd><a href="/rapid/get_started/view">View</a></dd>
        <dd><a href="/rapid/get_started/action">Action</a></dd>

    </dl>
    <dl {% if proj === "rapid"%}class="active"{% endif %}>
        <dt><a href="">深度历险</a></dt>
        <dd><a href="/rapid/get_started/filter">Filter</a></dd>
        <dd><a href="/rapid/get_started/extension">Extension</a></dd>
        <dd><a href="/rapid/deep_learn/form">表单处理</a></dd>
        <dd><a href="/rapid/deep_learn/csrf">CSRF</a></dd>
    
    </dl>
    
    <dl {% if proj === "rapid"%}class="active"{% endif %}>
        <dt><a href="">API手册</a></dt>
        <dd><a href="/rapid/core/api_document">Core</a></dd>
        <dd><a href="/rapid/httpserver/api_document">Httpserver</a></dd>
        <dd><a href="/rapid/mysql/api_document">Mysql</a></dd>
        <dd><a href="/rapid/mongo/api_document">Mongo</a></dd>
    </dl>
{% endif %}
    
{% if (proj === "blendui" || proj === "blendapi" || proj === "blend" || proj === "404") %}
    {# Blend #}
    <h3><a href="/blend/introduction/introduction">Blend</a></h3>

    {# BlendUI #}
    <h3 class="sub"><a href="/blendui/introduction/introduction">BlendUI</a></h3>
    <dl {% if proj === "blendui"%}class="active"{% endif %}>
        <dt><a href="">序言</a></dt>
        <dd><a href="/blendui/introduction/introduction">简介</a></dd>
        <dd><a href="/blendui/introduction/get_started">快速入门</a></dd>
        <dd><a href="/blendui/introduction/get_api_key">获取API Key</a></dd>
        <dd><a href="/blendapi/product">生成Module</a></dd>
    </dl>

    <dl {% if proj === "blendui"%}class="active"{% endif %}>
        <dt><a href="">开始学习</a></dt>
        <dd><a href="/blendui/get_started/define_event">自定义事件</a></dd>
        <dd><a href="/blendui/get_started/page_change">页面间切换</a></dd>
        <!-- <dd><a href="/blendui/get_started/loading_page">Loading</a></dd> -->
        <dd><a href="/blendui/get_started/powerpoint">幻灯片</a></dd>
        <dd><a href="/blendui/get_started/tabs">Tabs</a></dd>
        <dd><a href="/blendui/get_started/refresh">下拉刷新</a></dd>
        <dd><a href="/blendui/get_started/test">应用调试</a></dd>
        <dd><a href="/blendui/get_started/publish">应用发布</a></dd>
    </dl>

    <dl {% if proj === "blendui"%}class="active"{% endif %}>
        <dt><a href="">API手册</a></dt>
        <dd><a href="/blendui/define_event/api_document">自定义事件</a></dd>
        <dd><a href="/blendui/page_control/api_document">页面控制</a></dd>
        <dd><a href="/blendui/layer/api_document">Layer</a></dd>
        <dd><a href="/blendui/layergroup/api_document">LayerGroup</a></dd>
        <dd><a href="/blendui/slider/api_document">Slider</a></dd>
    </dl>

    {# Blend API #}
    <h3 class="sub"><a href="/blendapi/introduction/introduce">BlendAPI</a></h3>
    <dl {% if proj === "blendapi"%}class="active"{% endif %}>
        <dt><a href="">序言</a></dt>
        <dd><a href="/blendapi/introduction/introduce">简介</a></dd>
        <dd><a href="/blendapi/introduction/get_started">快速入门</a></dd>
        <dd><a href="/blendapi/introduction/get_api_key">获取API Key</a></dd>
        <dd><a href="/blendapi/introduction/get_author">申请权限</a></dd>
        <dd><a href="/blendapi/product">生成Module</a></dd>
    </dl>
    <dl {% if proj === "blendapi"%}class="active"{% endif %}>
        <dt><a href="">API手册</a></dt>
        <dd><a href="/blendapi/local/api_document">本地端能力</a></dd>
        <dd><a href="/blendapi/cloud/api_document">云能力</a></dd>
        <!-- <dd><a href="/blendapi/touch/api_document">手势库</a></dd> -->
    </dl>
{% endif %}

{% if proj === "runtime" || proj === "404" %}
    {# Runtime #}
    <h3><a href="/runtime/introduction/introduce">Runtime</a></h3>
    <dl {% if proj === "runtime"%}class="active"{% endif %}>
        <dt><a href="">序言</a></dt>
        <dd><a href="/runtime/introduction/introduce">简介</a></dd>
        <dd><a href="/runtime/introduction/get_api_key">如何获取API Key</a></dd>
    </dl>
    <dl {% if proj === "runtime"%}class="active"{% endif %}>
        <dt><a href="">集成指南</a></dt>
        <dd><a href="/runtime/introduction/runtime">集成方案</a></dd>
        <dd><a href="/runtime/introduction/runtime_integration">集成步骤</a></dd>
        <dd><a href="/runtime/introduction/senor_runtime">高级方法</a></dd>
    </dl>
    <dl {% if proj === "runtime"%}class="active"{% endif %}>
        <dt><a href="">Runtime插件开发</a></dt>
        <dd><a href="/runtime/introduction/plugin_inner_introduce">简介</a></dd>
        <dd><a href="/runtime/introduction/plugin_inner_dev">开发指南</a></dd>
        <dd><a href="/runtime/introduction/plugin_inner_pub">插件发布</a></dd>
        <dd><a href="/runtime/introduction/plugin_inner_faq">常见问题</a></dd>
        <dd><a href="/runtime/introduction/plugin_inner_appendix">附录</a></dd>
    </dl>
{% endif %}

{% endmacro %}