{# Dynamically Generate #}
{% macro use(proj, mod, doc) %}
    {# Clouda #}
    <h3>Clouda</h3>
    <dl>
        <dt><a href="">序言</a></dt>
        <dd><a href="">简介</a></dd>
        <dd><a href="">快速入门</a></dd>
    </dl>
    <dl>
        <dt><a href="">开始学习</a></dt>
        <dd><a href="">安装</a></dd>
        <dd><a href="">配置</a></dd>
        <dd><a href="">路由</a></dd>
    </dl>
    <dl>
        <dt><a href="">深度历险</a></dt>
        <dd><a href="">Core</a></dd>
    </dl>

    {# BlendUI #}
    <h3>BlendUI</h3>

    {# BlendAPI #}
    <h3>BlendAPI</h3>

{% endmacro %}