{% import "./hd.html" as hd %}
{% import "./nav.html" as nav %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="简单可依赖的Javascript开发框架" />
	<title>Clouda+ Docs</title>
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/portal.css">
</head>
<body>
    {{ hd.use("api") }}
    <section class="bd">
        <div class="vp">
            <div id="portal">
                <svg id="kity_svg_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="687" contenteditable="true" style="font-family: Arial, &quot;Microsoft Yahei&quot;,  &quot;Heiti SC&quot;;"
                    viewBox="546 186 487 258">
                        <defs id="kity_defs_3">
                            <marker id="kity_marker_0" orient="auto" refX="6" refY="0" viewBox="-7 -7 14 14"
                            markerWidth="7" markerHeight="7" markerUnits="userSpaceOnUse">
                                <path id="kity_path_1" fill="rgb(115, 161, 191)" stroke="none" d="M6,0A6,6,0,1,1,-6,0A6,6,0,1,1,6,0">
                                </path>
                            </marker>
                        </defs>
                        <g id="kity_g_4" transform="translate(0.5, 0.5)">
                            <g id="minder_1" transform="matrix( 1 0 0 1 758 228.00000000000006 )">
                                <g id="minder_connect_group_1">
                                    <path id="kity_path_647" fill="none" stroke="rgb(115, 161, 191)" stroke-width="1"
                                    d="M31 21L31 51L-145 51L-145 90">
                                    </path>
                                    <path id="kity_path_660" fill="none" stroke="rgb(115, 161, 191)" stroke-width="1"
                                    d="M31 21L31 51L31 51L31 90">
                                    </path>
                                    <path id="kity_path_676" fill="none" stroke="rgb(115, 161, 191)" stroke-width="1"
                                    d="M31 21L31 51L209 51L209 90">
                                    </path>
                                    <path id="kity_path_699" fill="none" stroke="rgb(115, 161, 191)" stroke-width="1"
                                    d="M31 118L31 138L-24 138L-24 174">
                                    </path>
                                    <path id="kity_path_721" fill="none" stroke="rgb(115, 161, 191)" stroke-width="1"
                                    d="M31 118L31 138L86 138L86 174">
                                    </path>
                                </g>
                                <g id="kity_g_7" display="none">
                                    <path id="kity_path_8" fill="none" stroke="none" d="M0,0h0v0h0z">
                                    </path>
                                </g>
                                <g id="kity_g_9" display="none">
                                    <path id="kity_path_10" fill="none" stroke="none" d="M0,0h0v0h0z">
                                    </path>
                                    <path id="kity_path_11" fill="none" stroke="none">
                                    </path>
                                </g>
                                <g id="minder_node_1" transform="matrix( 1 0 0 1 0 0 )">
                                    <path id="kity_path_406" fill="rgba(0, 0, 0, .25)" stroke="none" d="M9,-23h78a30,30,0,0,1,30,30v-3a30,30,0,0,1,-30,30h-78a30,30,0,0,1,-30,-30v3a30,30,0,0,1,30,-30z"
                                    display="none">
                                    </path>
                                    <path id="node_outline_1" fill="rgb(115, 161, 191)" stroke="rgb(115, 161, 191)"
                                    d="M-19,-21h99a5,5,0,0,1,5,5v32a5,5,0,0,1,-5,5h-99a5,5,0,0,1,-5,-5v-32a5,5,0,0,1,5,-5z"
                                    stroke-width="3">
                                    </path>
                                    <text id="node_text_1" text-rendering="geometricPrecision" dy="5.546875"
                                    fill="white" font-size="16" opacity="1">
                                        Clouda+
                                    </text>
                                </g>
                                <a xlink:href="/rapid/introduction/rapid_introduction/" >
                                    <g id="minder_node_477" transform="matrix( 1 0 0 1 -172 104 )" opacity="1">
                                        <g id="node_expander_26" transform="translate( 0 0 )" style="cursor: pointer;" >
                                            <path id="kity_path_651" fill="white" stroke="gray" d="M5,0A5,5,0,1,1,-5,0A5,5,0,1,1,5,0">
                                            </path>
                                            <path id="kity_path_652" fill="none" stroke="black">
                                            </path>
                                        </g>
                                        <path id="node_outline_27" fill="rgb(238, 243, 246)" stroke="rgb(115, 161, 191)"
                                        d="M-17,-14h87a3,3,0,0,1,3,3v22a3,3,0,0,1,-3,3h-87a3,3,0,0,1,-3,-3v-22a3,3,0,0,1,3,-3z"
                                        stroke-width="1">
                                        </path>
                                            <text id="node_text_27" text-rendering="geometricPrecision" dy="4.859375"
                                            fill="black" font-size="14">
                                                RapidJS
                                            </text>
                                    </g>
                                </a>
                                <a xlink:href="/blend/introduction/introduction" style="cursor: pointer;" >
                                    <g id="minder_node_484" transform="matrix( 1 0 0 1 13 104 )" opacity="1">
                                        <path id="node_outline_28" fill="rgb(238, 243, 246)" stroke="rgb(115, 161, 191)"
                                        d="M-17,-14h70a3,3,0,0,1,3,3v22a3,3,0,0,1,-3,3h-70a3,3,0,0,1,-3,-3v-22a3,3,0,0,1,3,-3z"
                                        stroke-width="1">
                                        </path>
                                        <text id="node_text_28" text-rendering="geometricPrecision" dy="4.859375"
                                        fill="black" font-size="14" opacity="1">
                                            Blend
                                        </text>
                                    </g>
                                </a>
                                <a xlink:href="/runtime/introduction/introduce" style="cursor: pointer;" >
                                    <g id="minder_node_494" transform="matrix( 1 0 0 1 182 104 )" opacity="1">
                                        <g id="node_expander_28" transform="translate( 0 0 )" display="none">
                                            <path id="kity_path_680" fill="white" stroke="gray" d="M5,0A5,5,0,1,1,-5,0A5,5,0,1,1,5,0">
                                            </path>
                                            <path id="kity_path_681" fill="none" stroke="black">
                                            </path>
                                        </g>
                                        <path id="node_outline_29" fill="rgb(238, 243, 246)" stroke="rgb(115, 161, 191)"
                                        d="M-17,-14h87a3,3,0,0,1,3,3v22a3,3,0,0,1,-3,3h-87a3,3,0,0,1,-3,-3v-22a3,3,0,0,1,3,-3z"
                                        stroke-width="1">
                                        </path>
                                        <text id="node_text_29" text-rendering="geometricPrecision" dy="4.859375"
                                        fill="black" font-size="14">
                                            Runtime
                                        </text>
                                    </g>
                                </a>
                                <a xlink:href="/blendui/introduction/introduction/" style="cursor: pointer;" >
                                    <g id="minder_node_511" transform="matrix( 1 0 0 1 -48 186 )" opacity="1">
                                        <g id="node_expander_29" transform="translate( 0 0 )" display="none">
                                            <path id="kity_path_703" fill="white" stroke="gray" d="M5,0A5,5,0,1,1,-5,0A5,5,0,1,1,5,0">
                                            </path>
                                            <path id="kity_path_704" fill="none" stroke="black">
                                            </path>
                                        </g>
                                        <path id="node_outline_30" fill="rgb(238, 243, 246)" stroke="rgb(115, 161, 191)" d="M-5,-12h57a5,5,0,0,1,5,5v13a5,5,0,0,1,-5,5h-57a5,5,0,0,1,-5,-5v-13a5,5,0,0,1,5,-5z"
                                        stroke-width="1">
                                        </path>
                                        <text id="node_text_30" text-rendering="geometricPrecision" dy="4.1640625"
                                        fill="black" font-size="12">
                                            Blend UI
                                        </text>
                                    </g>
                                </a>
                                <a xlink:href="/blendapi/introduction/introduce" style="cursor: pointer;" >
                                    <g id="minder_node_527" transform="matrix( 1 0 0 1 59 186 )" opacity="1">
                                        <g id="node_expander_30" transform="translate( 0 0 )" style="cursor: pointer;"
                                        display="none">
                                            <path id="kity_path_725" fill="white" stroke="gray" d="M5,0A5,5,0,1,1,-5,0A5,5,0,1,1,5,0">
                                            </path>
                                            <path id="kity_path_726" fill="none" stroke="black">
                                            </path>
                                        </g>
                                        <path id="node_outline_31" fill="rgb(238, 243, 246)" stroke="rgb(115, 161, 191)" d="M-5,-12h64a5,5,0,0,1,5,5v13a5,5,0,0,1,-5,5h-64a5,5,0,0,1,-5,-5v-13a5,5,0,0,1,5,-5z"
                                        stroke-width="1">
                                        </path>
                                        <text id="node_text_31" text-rendering="geometricPrecision" dy="4.1640625"
                                        fill="black" font-size="12" opacity="1">
                                            Blend API
                                        </text>
                                        <path id="_kity_selection" fill="rgb(0, 61, 102)" stroke="none" d="M53.5,-8.5h2v15h-2z"
                                        opacity="1" style="display: none;">
                                        </path>
                                    </g>
                                </a>
                            </g>
                        </g>
                    </svg>
                <article>
                <h2>Clouda+</h2>

                    <h3> 文档阅读建议

                    <p>
                    看来你已经准备好要学习Clouda+了，为了提供良好的学习体验，我们为Clouda+编写了清晰、扼要的文档。你可以按照下面的顺序阅读：
                    </p>

                    <ul>
                        <li> 看完本文，了解Clouda+的设计思想
                        <li> 根据你的业务需求，选择性入手：
                        <ul>
                            <li> 如果你关注轻应用在手机端的浏览体验，请按照 BlendUI - BlendAPI - Runtime的顺序阅读
                            <li> 如果你关注Nodejs在轻应用服务端的运用，请主要阅读Rapidjs部分
                            <li>  对于Clouda+的每个构成部分，我们都准备了三部分文档，请按顺序阅读：
                        </ul>
                        <ul>
                            <li> 快速开始
                            <li> 开始学习
                            <li>  深度历险
                        </ul>
                    </ul>

                    <p>
                    好，让我们开始吧。
                    </p>

                    <h3> Clouda+的设计思想 </h4>

                    <p>
                    Clouda+是移动web应用开发整体解决方案，并特别针对百度轻应用场景进行了优化，旨在让webapp体验和交互媲美Native应用。
                    </p>

                    <p>
                    我们认为，开发webapp应该是愉悦的，并且让使用者也能愉快而流畅的完成交互。Clouda+努力剔除开发过程中的痛苦，因此，我们帮助开发者完成流畅的动画、减少DOM层级、让布局更容易（Blend UI），将设备能力暴露给web（Blend API），让webapp能像Native App一样安装、更新和接受推送（Runtime），用熟悉的Javascript完成服务端开发（Rapidjs）并且能轻松地管理Nodejs运行环境（Tankjs）。我们不拘泥于固定的语言和技术，只要有技术对提升Webapp的体验有帮助，它们就能为我们所用。

                    </p>
                    <p>
                    Clouda+是解耦的，易于理解的。刚才提到的那些组成部分联合起来，能像覆盖整个轻应用的所有开发环节，如果你有更加趁手的技术，也可以只使用其中一部分组件，它们同样能很好地为你工作。
                    </p>

                    <p>
                    Clouda+的伸缩性很强。它能覆盖开发者从业务搭建之初，到产品成长、成熟的整个迭代过程，从设计之初便在系统的延展性及适用方式上做了大量考虑。
                    </p>
                </article>
            </div>
        </div>
    </section>
    {% include "./ft.html" %}
</body>
</html>
